<p>
  <strong>Service type:</strong>
  <%= @service.service_type %>
</p>

<p>
  <strong>Service id:</strong>
  <%= @service.id %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @service.supplier_id %>
</p>

<p>
  <strong>Supplier name:</strong>
  <%= @service.supplier_name %>
</p>

<p>
  <strong>Service status:</strong>
  <%= @service.service_status %>
</p>

<p>
  <strong>Service price:</strong>
  <%= @service.service_price %>
</p>

<p>
  <strong>Aditional Information:</strong>
  <%= @service.aditional_information %>
</p>

<%= link_to 'Back', services_path %>
